reps.xcodeproj/project.xcworkspace/xcuserdata
xcuserdata
.DS_Store
xcshareddata

*.xcscheme

framework/CorePlot-CocoaTouch.xcodeproj/xcuserdata/

Crashlytics.framework/Crashlytics

Crashlytics.framework/Headers

Crashlytics.framework/Resources

Crashlytics.framework/Versions/A/Crashlytics

Crashlytics.framework/Versions/A/Headers/Crashlytics.h

Crashlytics.framework/Versions/Current

Crashlytics.framework/Versions/A/Resources/Info.plist

Crashlytics.framework/run

reps.xcodeproj/project.pbxproj

Pods
